:root{--primary-font-family:'Roboto', sans-serif;
--secondary-font-family:'Raleway', sans-serif;
}


 .link {text-decoration: none;}
.list  {list-style: none;}

/*=====HEADER=====*/

.link-web{color: #2196F3;
font-family:var(--secondary-font-family);
font-weight: bold;
font-size: 26px;
line-height: 1.19 ;
letter-spacing: 0.03em;
}
.studio{ font-family: var(--secondary-font-family);
    color: black;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19 ;
    letter-spacing: 0.03em;
}
.nav-current-link{font-family: var(--primary-font-family);
color: #212121;
font-weight: 500;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.02em;
}
.nav-current-link :hover{color: #2196F3;}
.nav-current-link :focus{color: #2196F3;}

.list-contact{font-family: var(--primary-font-family);
    color: #757575;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.list-contact:hover{color:#2196F3 ;}
.list-contact:focus{color:#2196F3 ;}

/*=====MEIN=====*/
.main-section{ font-family: var(--primary-font-family);
color: #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
background-color:  #2F303A;
}
.main-button{ font-family: var(--primary-font-family);
font-weight:700;
font-size: 16px;
line-height:1.88;
letter-spacing: 0.06em;
background-color: #2196F3;
width: 200px;
height: 50px;
left: 700px;
top: 430px;
color:  #FFFFFF;
}

.title-item{font-family: var(--primary-font-family);
font-weight:700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: #212121;
}
.item-about{font-family: var(--primary-font-family);
color: #757575;
font-weight:400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}
.section-employee{background-color: #F5F4FA;}

.tile-activity{font-family: var(--primary-font-family);
    font-weight:700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;}
.title-employee{font-family:var(--primary-font-family);
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height:1.19;
    letter-spacing: 0.03em;
    }
.job-employee{
    font-family:var(--primary-font-family);
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height:1.19;
    letter-spacing: 0.03em
}

/*=====ФУТЕР=====*/

.footer{background-color: #2F303A;
}
.studio-footer{color: white;}

.footer-address{font-family: var(--primary-font-family);
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    }
.footer-link{ font-family: var(--primary-font-family);
color:rgba(255, 255, 255, 0.6);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.footer-link:hover{color: #2196F3;}
.footer-link:focus{color: #2196F3;}

/*=====2 страница Главная=====*/

.button{list-style: none;
    text-decoration: none;}
    .item-result{list-style: none;}

.button-text:hover{background-color:  #2196F3;
color: #FFFFFF;}
.button-text:focus{background-color:  #2196F3;
    color: #FFFFFF;
}
.button-text{ background-color:#F5F4FA;
    border: none;
    color: #212121;
    font-family: var(--primary-font-family);
    font-weight:bold;
    height: 38px;
    
    background: #F5F4FA;
    border-radius: 4px
}
.title-result{font-family:var(--primary-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;
    color: #212121;
}
.result{font-family:var(--primary-font-family);
    font-style: normal;
    font-weight:400;
    font-size: 16px;
    line-height:1.9;
    letter-spacing: 0.03em;
    color: #757575;
    }
